

<div ng-controller="getSearchPage" ng-model="searchText">	
	<div class="well">
	<pre>Sorting By = {{predicate}}</pre>
	<hr/>
	<div>
	<div>
	<form class="navbar-form navbar-left" role="search" action="/Home/Index" method="Post">
		<div class="form-group">
			<input type="text" name="FName" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>

	</div>	<hr/>
	<br>
		<h1>Questions:</h1>
		 <table class="search">
			<tr>
			<th><a href="" ng-click="predicate = 'title'; reverse=!reverse" id="titleColumn">Title</a></th>
			<th><a href="" ng-click="predicate = 'question_id'; reverse=!reverse">Question Link</a></th>
			<th><a href="" ng-click="predicate = 'answer_count'; reverse=!reverse" id="answerColumn">Answer</a></th>
			<th><a href="" ng-click="predicate = 'No Sortable'">Tags</a></th>
			</tr>
			<tr ng-repeat="questionsInSearch in getSearchPageData.items | orderBy:predicate:reverse">
			<td ng-bind-html="questionsInSearch.title| unsafe">{{questionsInSearch.title}}</td>
			<td><a href="#/view2?qid={{questionsInSearch.question_id}}">{{questionsInSearch.question_id}}</a></td>
			<td>{{questionsInSearch.answer_count}}</td>
			<td><div class="btn-group btn-group-justified" ng-repeat="tag in questionsInSearch.tags">
				<a class="btn btn-default" href="#/view3?tagID={{tag}}">Tags:{{tag}}</a>
			</div></td>
			</tr>
		</table>
	<!--
	<ul ng-repeat="questionsInSearch in getSearchPageData.items" class="noList">
		<div class="well">
			<li>Question: [{{$index + 1}}]</li>
			<li ng-bind-html="questionsInSearch.title| unsafe">{{questionsInSearch.title}}</li>
			<li>QuestionID:{{questionsInSearch.question_id}}</li>
			<li>Answer Count:{{questionsInSearch.answer_count}}</li>
			<li>View Count:{{questionsInSearch.view_count}}</li>
			<li>Question Creation Date is: <mydate>{{questionsInSearch.creation_date*1000 | date:'MM-dd-yyyy HH:MM:ss'}}</mydate></li>
			<li>Last Modified Date is: <mydate>{{questionsInSearch.last_activity_date*1000 | date:'MM-dd-yyyy HH:MM:ss'}}</mydate></li>
			<div class="btn-group btn-group-justified" ng-repeat="tag in questionsInSearch.tags">
				<a class="btn btn-default" href="#/view3?tagID={{tag}}">Tags:{{tag}}</a>
			</div>
		</div>
	</ul>
	-->
	</div>
</div>