	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">User Profile Information</h1>
		</div>
		<div class="panel-body">
			<div ng-controller="getUser">
			<!--Not sure if there are more then one account possible so I used a loop to loop through items for all possible accounts.  NOTE: COULD NOT TEST THIS no account-->		
			
				<ul ng-repeat="item in greeting.items" class="noList">
					<li><h3 id="userProfileHeading">Name: {{item.display_name}}</h3></li>	
					<div class="well">
						<li>Your Creation Date is: <mydate>{{item.creation_date*1000 | date:'MM-dd-yyyy HH:MM:ss'}}</mydate></li>
						<li>Your account ID is: {{item.account_id}}</li>	
						<li>Your UserID is: {{item.user_id}}</li>	
						<li>Your Location is: {{item.location}}</li>					
						<li>Your Reputation is: {{item.reputation}}</li>
					</div>
					<h3>Badges for this Profile:</h3>
					<div class="well">
						<li>Your Bronze Badges are: {{item.badge_counts.bronze}}</li>	
						<div class="well" ng-controller="getUserBadgesBronze">
							<ul ng-repeat="bronze in bronze.items" class="noList" id="bronze">
								<a class="btn btn-default" href="{{bronze.link}}">{{bronze.name}}</a>
							</ul>
						</div>
						<li>Your Silver Badges are: {{item.badge_counts.silver}}</li>	
						<div class="well" ng-controller="getUserBadgesSilver">
							<ul ng-repeat="silver in silver.items" class="noList">
								<a class="btn btn-default" href="{{silver.link}}">{{silver.name}}</a>
							</ul>
						</div>
						<li>Your Gold Badges are: {{item.badge_counts.gold}}</li>
						<div class="well" ng-controller="getUserBadgesGold">
							<ul ng-repeat="gold in gold.items" class="noList">
								<a class="btn btn-default" href="{{bronze.link}}">{{gold.name}}</a>
							</ul>
						</div>

					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Favorite Questions</h1>
		</div>
		<div class="panel-body">
				<div ng-controller="getMyFavorites">
					<ul ng-repeat="item in getMyFavoritesData.items" class="noList">
						<li><a href="#/view2?qid={{item.question_id}}"ng-bind-html="item.title| unsafe"><h4>Question {{$index + 1}}:  {{item.title}}</h4></a></li>
						
						<div class="btn-group btn-group-justified" ng-repeat="tag in item.tags">
							<a class="btn btn-default" href="#/view3?tagID={{tag}}">{{tag}}</a>
						</div>
					</ul>
				</div>
		</div>
	</div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Timeline for Badges, Responses, and Reputation</h1>
		</div>
		<div class="panel-body">
				<div ng-controller="getMyHistory">
					<ul ng-repeat="itemHistory in getMyHistoryData.items" class="noList">
						<div class="timeline">
						<li>{{itemHistory.timeline_type}}</li>
						<li>{{itemHistory.creation_date*1000| date:'MM-dd-yyyy HH:MM:ss'}}</li>
						</div>
					</ul>
					<h3>Reputation History:</h3>
					<ul ng-repeat="itemReputation in getMyReputationData.items" class="noList">
						<div class="timeline">
						<li>{{itemReputation.reputation_history_type}}</li>
						<li>{{itemReputation.creation_date*1000| date:'MM-dd-yyyy HH:MM:ss'}}</li>
						</div>
					</ul>
				</div>
		</div>
		
	</div>
	