
<!--Read Me:  Todo List for this site.-->
<div ng-controller="getSearchTerm" ng-model="searchText">	
	<div class="well">
		<p>Please access the test on:   http://jasonyang521.github.io/app/index.html .   Notes Internally I suggest chrome.  
		Firefox and IE seemingly likes to not redirect me back to my site.  I also tested it with my phone browser and it was fine.  
		I believe that’s a limitation with our internal network.  Firefox works fine on my home computer.  The site will meet all of the 
		technical requirements that were listed.  I attempted to make the site as functionally complete as possible, however due to time 
		constraints I was unable to complete a few features.  On the website itself I have a read me section of items I would still like 
		to complete.  I feel like if I had more time to work on this site I could do a lot more.  However, 1 week with a full work and life 
		load, I was unable to complete the site to my liking. Here are some of the items I would still like to work on.  
		This is also listed in the Quick Menu dropdown under the ReadMe Page.	
	</p>
	<ul>
		<li>1.  Make the site prettier</li>
		<li>2.  Get time line Jquery for time line objects</li>
		<li>3.  Get Favorites working. I am uncertain why, but all of my queries to favorites result in a 404.  After investigation I do believe this has more to do with me not having a fully testable account.  Hacking my program with other accounts to test with was time consuming, and I did not get to test all of my features fully.  
		As testing this site required an active user of the site.  
		I could not find any resources with enough data for me to test with properly.
		</li>
		<li>4.  Get Tag Cloud working: I deferred on this one because it was something that was covered my by other tag lists</li>
		<ul>
			<li>I was going to complete this work, but I ran out of time to implement this feature.</li>
			<li>I would implement this feature the following way. Every time I get a tag value push that value to a Scope Object. Then filter that $scope object to remove duplicates.  I found a few plausible filters.</li>
			<li>After the array is filtered print out buttons associated with tags. Include link to Tag Search Page with tag in URL</li>
		</ul>
		<li>5.  Could have some minor issues with refreshing page</li>
		<li>6.  I have everything setup on Github, but there are a lot of extra files as of this point: Some frameworks for unit testing, some libraries I attempted to use, and some extra files from NodeJS that I did not get a chance to filter out.  
		This was part of the optimization process that I was planning on getting to, but I also did not have enough time to remove unnecessary libraries and dependencies.
		</li>
		<li>7.  There is a fair amount of optimization that can be completed on this project. I feel like I could break down some Javascripts, and reuse a few of them. I figured completing more of the functionality was more important.</li>
		<li>8.  I tested this on our internal network. Seemingly Firefox internally won’t let me redirect my site, but at home it is fine and IE doesn't work internally. Internally Chrome and Safari are fine</li>
		<li>9.  I wanted to create a tech that will do pagination on the search pages as I am only returning 30 values at a time</li>
		<ul>
			<li>I felt that I could get this done relatively easily, but I just did not have the time to work on the code for that section</li>
			<li>I would implement this in one of a few ways.  I could first get the total queries for search and then create page links up top.  On each page link click I would issue a new query with that page information inside</li>
			<li>Another method for me to do this would be to implement a method to read the field that tells me there are more queries and just have a next button to retrieve the next 30 queries</li>	
			<li>Last method though I am not sure I like this one.  Is to grab all data from Stack Exchange api at once and create pagination based off of that data.  Perhaps implement an
			infinite scroll tech-which I have written before.  Though this idea will probably take a long time and cause the page to load slowly.  </li>
		</ul>
	</ul>
	</div>
</div>