

<div ng-controller="getSearchPage" ng-model="searchText">	
	<div class="well">
	<pre>Sorting By = {{predicate}}</pre>
	<hr/>
	<div>
	<div>
		Search Question Title: <input ng-model="searchText.title">
	</div>

	</div>	<hr/>
	<br>
		<h1>Questions:</h1>
		 <table class="search">
			<tr>
			<th id="tableIndex">#</th>
			<th><a href="" ng-click="predicate = 'title'; reverse=!reverse" id="titleColumn">Title</a></th>
			<th><a href="" ng-click="predicate = 'question_id'; reverse=!reverse">Question Link</a></th>
			<th><a href="" ng-click="predicate = 'answer_count'; reverse=!reverse" id="answerColumn">Answers</a></th>
			<th><a href="" ng-click="predicate = 'view_count'; reverse=!reverse" id="answerColumn">Views</a></th>
			<th><a href="" ng-click="predicate = 'up_vote_count - down_vote_count'; reverse=!reverse">Total Votes</a></th>			
			<th><a href="" ng-click="predicate = 'No Sortable'">Tags</a></th>
			</tr>
			<tr ng-repeat="questionsInSearch in getSearchPageData.items | orderBy:predicate:reverse | filter:searchText">
			<td>{{$index + 1}}</td>
			<td ng-bind-html="questionsInSearch.title| unsafe">{{questionsInSearch.title}}</td>
			<td><a href="#/view2?qid={{questionsInSearch.question_id}}">{{questionsInSearch.question_id}}</a></td>
			<td>{{questionsInSearch.answer_count}}</td>
			<td>{{questionsInSearch.view_count}}</td>
			<td>{{questionsInSearch.up_vote_count-questionsInSearch.down_vote_count}}</td>
			<td><div class="btn-group btn-group-justified" ng-repeat="tag in questionsInSearch.tags">
				<a class="btn btn-default" href="#/view3?tagID={{tag}}">Tags:{{tag}}</a>
			</div></td>
			</tr>
		</table>
	<!--
	<ul ng-repeat="questionsInSearch in getSearchPageData.items" class="noList">
		<div class="well">
			<li>Question: [{{$index + 1}}]</li>
			<li ng-bind-html="questionsInSearch.title| unsafe">{{questionsInSearch.title}}</li>
			<li>QuestionID:{{questionsInSearch.question_id}}</li>
			<li>Answer Count:{{questionsInSearch.answer_count}}</li>
			<li>View Count:{{questionsInSearch.view_count}}</li>
			<li>Question Creation Date is: <mydate>{{questionsInSearch.creation_date*1000 | date:'MM-dd-yyyy HH:MM:ss'}}</mydate></li>
			<li>Last Modified Date is: <mydate>{{questionsInSearch.last_activity_date*1000 | date:'MM-dd-yyyy HH:MM:ss'}}</mydate></li>
			<div class="btn-group btn-group-justified" ng-repeat="tag in questionsInSearch.tags">
				<a class="btn btn-default" href="#/view3?tagID={{tag}}">Tags:{{tag}}</a>
			</div>
		</div>
	</ul>
	-->
	</div>
</div>