

<div ng-controller="getSearchTerm" ng-model="searchText">	
	<div class="well">
		<p>I completed most of the functionality on this site, but there were a few items I still would like to have completed.		
	</p>
	<ul>
		<li>1.  Make the site prettier</li>
		<li>2.  Get timeline Jquery for timeline objects</li>
		<li>3.  Get Favorites working.  I am uncertain why, but all of my queries to favorites result in a 404</li>
		<li>4.  Get Tag Cloud working:  I defered on this one because it was something that was covered my by other tag clouds</li>
		<li>5.  I wish I had some extra time to finish the functionality, but I simply ran out of time to work on this</li>
		<li>5.  I have everything setup on Github, but there are a lot of extra files as of this point:  Some frameworks for unit testing, some libraries I attempted to use</li>
		<li>6.  There is a fair amount of optimization that can be completed on this project.  I feel like I could break down some Javascripts, and reuse a few of them.  I figured completing more of the functionality was more imporant</li>	
	</ul>
	</div>
</div>